# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
!releases/*.apk
local.properties
android/app/release-key.jks
android/app/release-key.jks.base64

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserdata

# Functions
functions/node_modules/

# Web
web/splash/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
