# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserdata

# Web
web/splash/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
